/* @theme presentation */

@import 'default';

:root {
    --font: Montserrat;
    --font-code: Cascadia Code;
    --color-lava: #ef3b37;
    --color-ocre: #f35639;
    --color-magma: #da291c;
    --color-rubis: #8a1538;
    --color-sable: #f7f3ef;
    --color-graphite: #48424d;
    --color-graphite-accent: #5a555e;
    --color-terra: #dca67a;
    --color-blueschist: #84bdde;
    --color-olivine: #7aa585;
    --color-math: var(--color-olivine);
    --color-grey: #393938;
    --color-yellow: #fcb614;
    --color-darkred: #992b20;
    --color-red: #ee3b24;
    --color-peach: #f7a794;
    --color-peach-light: #fcddd6;
    --color-link: var(--color-darkred);
    --color-code-link: var(--color-yellow);
    --color-footer: var(--color-peach);
    --color-blue: #0078d4;
}



h1,
h2,
h3,
h4 {
    font-family: var(--font);
}

p,
div,
ul,
li,
footer,
section::after,
label {
    font-family: var(--font);
}

p,
ul,
div,
li {
    font-size: 19pt;
}


h1 {
    color: black;
    font-size: 130%;
    font-weight: 100;
}

h2 {
    font-weight: normal;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1280px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--color-yellow);
    background-color: var(--color-grey);
    font-size: 110%;
    font-weight: 400;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong {
    color: inherit;
    font-weight: bold;
}

section::after,
footer,
footer a {
    font-size: 15pt;
    color: var(--color-footer);
    text-decoration: none;
}

a {
    font-family: inherit;
    font-size: 100%;
    color: var(--color-link);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 9px;
}

a:has(code) {
    vertical-align: top;
    color: var(--color-code-link);
    text-decoration: none;
}

a:has(code)>code {
    background: none;
}

.katex {
    color: var(--color-blue);
    font-size: 115%;
}

.emoji {
    font-size: 120%;
    display: inline;
}

section {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 130px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    color: black;
}

section div,
section ul {
    flex: 1;
}

p:has(img):not(:has(:not(img))) {
    flex: 1;
    text-align: center;
}

p {
    border: 1px solid var(--color-grey);
}

img {
    background-color: transparent;
    max-height: 550px;
}

.logo {
    background-image: url("https://s3.glicid.fr/nuts/workshop-banner.svg");
    background-size: cover;
    position: absolute;
    left: 30px;
    width: 600px;
    bottom: 50px;
    height: 100px;
}

section.titlepage {
    background-color: var(--color-sable);
    background-image: url("images/titlepages/cheese-large.png");
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    padding: 0px;

}

section.titlepage div {
    max-width: 40%;
    margin-right: 50%;
    text-align: center;
}

section.titlepage p {
    font-size: 17pt;
}


section.titlepage h2 {
    position: relative;
    padding-left: 0px;
    color: white;
    background-color: transparent;
    margin-right: 50%;
    margin-left: 0%;
}


section.titlepage footer {
    color: rgb(23, 13, 13);
}

section.titlepage footer a {
    font-size: 15pt;
}

section.titlepage::after {
    color: transparent;
}

section.dark h2 {
    background-color: black;
    color: var(--color-sable)
}

pre,
code {
    font-family: var(--font-code);
}

table {
    font-size: 16pt;
}